@{
    ViewBag.Title = "About";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>幸运大抽奖</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link href="css/style.css" rel="stylesheet">*@
    <!-- style start -->
    <style>
        body {
            background: #fbf3cc;
        }

        .turnplate {
            width: 400px;
            height: 400px;
            background: url(../../dist/img/ly-plate-c.gif) no-repeat;
            position: relative;
            margin: 0 auto;
        }

        .lottery {
            width: 340px;
            height: 340px;
            position: relative;
            top: 30px;
            left: 30px;
        }

        .playbtn {
            width: 186px;
            height: 186px;
            position: absolute;
            top: 107px;
            left: 107px;
        }
    </style>
</head>
<body>
    <div class="turnplate">
        <img src="~/dist/img/bg-lottery.png" alt="转盘抽奖" class="lottery">
        <img class="playbtn" src="~/dist/img/playbtn.png">
    </div>
    <script type="text/javascript" src="~/dist/js/jquery-1.10.2.js"> </script>

    <!-- jqueryRotate插件 -->
    <script type="text/javascript" src="~/dist/js/awardRotate.js"> </script>
    <script type="text/javascript">

            var turnplate = {
                giftnames:[],        //奖品名称
                bRotate:false       //false:停止；true:旋转
            }

            $(document).ready(function(){    //在文档加载后激活函数：

                turnplate.giftnames = ["一等奖","二等奖","很遗憾,未中奖","三等奖","很遗憾,未中奖","四等奖","很遗憾,未中奖","五等奖","很遗憾,未中奖","六等奖"];

                var rotateTimeOut = function(){   //超时函数
                    $('.lottery').rotate({
                        angle:0,                  //旋转一个角度
                        animateTo:2160,           //从当前的角度旋转到多少度
                        duration:8000,            //旋转持续时间，以毫秒为单位
                        callback:function(){      //旋转完成后的回调函数
                            alert("网络超时,请检查您的网络设置!");
                        }
                    });
                };

                var rotateFn = function(item,txt){
                    var angles = item * (360 / turnplate.giftnames.length) - (360 / (turnplate.giftnames.length*2));
                    if(angles<270){
                        angles = 270 -angles;
                    }
                    else{
                        angles = 360 - angles + 270;
                    }
                    $(".lottery").stopRotate();
                    $(".lottery").rotate({
                        angle:0,
                        animateTo:angles+1800,
                        duration:8000,
                        callback:function(){
                            alert(txt);
                            turnplate.bRotate = !turnplate.bRotate;
                        }
                    });
                };


                $(".playbtn").click(function(){
                    if(turnplate.bRotate)return;
                    turnplate.bRotate = !turnplate.bRotate;

                    //获取随机数（奖品个数范围内）
                    var item = rnd(1,turnplate.giftnames.length);

                    //奖品数量等于10,指针落在对应奖品区域的中心角度[252, 216, 180, 144, 108, 72, 36, 360, 324, 288]
                    rotateFn(item,turnplate.giftnames[item-1]);
                    //console.log(item);
                });

                function rnd(n,m){   //随机数
                    var random = Math.floor(Math.random()*(m-n+1)+n);
                    return random;
                }


            })


    </script>

</body>

</html>

