
table {
    border-collapse: collapse;
    border: solid 1px Black;
    margin:0 auto;
}

    table td, th {
        border: solid 1px Black;
        padding: 5px 10px;
        text-align: center;
        font-size: 17px;
    }
