.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #f7f8fb !important;
}


table {
    border-collapse: collapse;
    border: solid 1px Black;
}

    table td, th {
        border: solid 1px Black;
        padding: 5px 10px;
        text-align: center;
        font-size: 17px;
    }
